<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Stories</title>
    </head>
    <body>
        <h1>Welcome to Stories!</h1>
        <input type="button" value="Share your story!" onclick="window.location='{% url 'story:new_story' %}'">
        {% if liked_stories %}
            <h2>Most liked stories:</h2>
            <ul>
            {% for story in liked_stories %}
                <li><a href="{% url 'story:view_story' story.pk %}">{{ story.title }}</a></li>
            {% endfor %}
            </ul>
        {%  endif %}
        <br />
        {% if popular_stories %}
            <h2>Most viewed stories:</h2>
            <ul>
            {% for story in popular_stories %}
                <li><a href="{% url 'story:view_story' story.pk %}">{{ story.title }}</a></li>
            {% endfor %}
            </ul>
        {%  endif %}
        <a href="{% url 'story:about' %}">About!</a>
        <br />
        <br />
        <img src="{%  static 'whats_your_story.jpg' %}" alt="What's your story?"/>
    </body>
</html>